<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitch.tv Streamers</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/app.css" rel="stylesheet">
</head>
<body >
  <div class="box-wrapper" id="app-vue">
    <div class="status-wrapper">
      <span id="all" class="status" v-on:click="changeFilter('all')">All <i class="fa fa-users" aria-hidden="true"></i></span>
      <span id="online" class="status" v-on:click="changeFilter('online')">Online <i class="fa fa-circle-o" aria-hidden="true"></i></span>
      <span id="offline" class="status" v-on:click="changeFilter('offline')">Offline <i class="fa fa-circle-o-notch" aria-hidden="true"></i></span>
    </div>
    <div class="search-wrapper">
      <input type="text" v-model="query" placeholder="Search for a streamer...">
      <button type="button" v-on:click="updateUsers"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div class="streams-wrapper">

      <p v-show="usersComputed.length == 0 && query.length > 0">
      anything related with "{{query}}"
      </p>

      <p v-show="users.length == 0 ">
       loading...
     </p>

     <!-- Vue Template -->
     <div class="stream" v-for="user in usersComputed ">
       <img v-bind:src="user.channel.logo" v-bind:alt="user.name" >
       <div class="stream-info">

        <p class="streamer-name">
          <a v-bind:href="user.channel.url">{{user.channel.name}}
            <i class="fa fa-circle-o" v-bind:class="getCssClassItem(user.online)" aria-hidden="true">
            </i>
          </a>
        </p>

        <p class="streamer-game">{{user.channel.display_name }}</p>
        <p class="streamer-status">{{user.channel.status }}</p>
      </div>
    </div>
    <!-- Vue Template end -->

  </div>

  <div class="footer">
    by <a href="">calaca</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://use.fontawesome.com/147694ed94.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
